<ion-content>
  <div class="check-symbol">
    <ion-icon name="md-checkmark"></ion-icon>
  </div>
  <h5 class="title ion-text-center">Booking Request</h5>
  <p class="ion-margin ion-text-center">Your requested has been accepted. You can check the status by tapping below
    button.</p>
  <div class="btn-div ion-float-right">
    <ion-button mode="md" fill="clear" class="ion-no-margin" (click)="doCancel()">
      Cancel
    </ion-button>

    <ion-button mode="md" fill="clear" (click)="viewOnGoingJob()">
      View on Going Job
    </ion-button>
  </div>
</ion-content>