ion-header {
  .segment {
    display: flex;
    justify-content: space-around;
    align-items: center;

    ion-button {
      --padding-start: 0;
      --padding-end: 0;
      height: 30px;
      font-size: 12px;
      width: 95px;
      font-family: 'tofini_medium';
      margin-bottom: 12px;
      --background-activated: transparent;
    }

    .active {
      color: var(--ion-color-darkYellow);
      --border-color: var(--ion-color-darkYellow);
    }

    .deactive {
      color: var(--ion-segment-color);
      --border-color: var(--ion-segment-color);
    }
  }
}

ion-content {
  --padding-start: 10px;
  --padding-end: 10px;

  .card {
    margin-top: 30px;
    box-shadow: 0px 0px 3px rgba(87, 87, 87, 0.41);
    border-radius: 5px;

    .header {
      background: var(--ion-color-lightGray);
      display: flex;
      justify-content: space-between;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 5px 5px 0px 0px;

      .row {
        padding-left: 12px;

        h2 {
          font-size: 13px;
          color: var(--ion-color-white);
          font-family: 'tofini_medium';
          margin: 0;
        }

        p {
          margin: 0;
          color: var(--ion-color-white);
          font-size: 10px;
          font-family: 'tofini_regular';
          margin-top: 4px;
        }
      }

      h2 {
        padding-right: 12px;
        font-size: 13px;
        color: var(--ion-color-white);
        font-family: 'tofini_medium';
        margin: 0;
      }
    }

    .content {
      .list {
        display: flex;
        justify-content: space-between;

        p {
          margin-top: 12px !important;
          color: var(--ion-color-simpleDark);
          margin: 0;
          font-size: 12px;
          margin-left: 12px;
          margin-right: 12px;
          font-family: 'tofini_regular';
        }
      }
    }

    .footer {
      background: var(--ion-color-lightGray);
      display: flex;
      justify-content: center;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 14px;
      border-radius: 0px 0px 5px 5px;

      p {
        color: var(--ion-color-white);
        margin: 0;
        font-size: 12px;
        font-family: 'tofini_regular';
      }
    }

    .success {
      background: var(--ion-color-green);
      display: flex;
      justify-content: space-between;

      .review {
        padding-top: 6px;
      }

      &:last-child {
        padding-left: 12px;
        padding-right: 12px;
      }
    }

    .danger {
      background: var(--ion-color-darkYellow);
      display: flex;
      justify-content: space-between;

      &:last-child {
        padding-left: 12px;
        padding-right: 12px;
      }
    }
  }
}