<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button icon-only mode="md" (click)="onClick()">
                <ion-icon name="ios-arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-searchbar mode="ios" (ionInput)="autoAddress($event.target.value)"></ion-searchbar>
        <ion-buttons slot="end">
            <ion-button mode="md" fill="clear" class="ion-text-capitalize" (click)="doClear()">
                clear
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="!autocompleteItems || autocompleteItems.length == 0">
        <ion-item lines="full" *ngFor="let i of historyAddress" (click)="addExistsLocation(i)" class="recent-address">
            <ion-icon name="md-time" slot="start"></ion-icon>
            <ion-label>
                <h4>{{i?.address?.main}}</h4>
                <p text-wrap>{{i?.address?.sub}}</p>
            </ion-label>
        </ion-item>
    </ng-container>
    <ion-item *ngFor="let item of autocompleteItems" (click)="chooseItem(item)">
        <ion-icon name="md-pin" slot="start"></ion-icon>
        <ion-label>
            <h4>{{item.structured_formatting.main_text}}</h4>
            <p text-wrap>{{item.structured_formatting.secondary_text}}</p>
        </ion-label>
    </ion-item>
</ion-content>