<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button icon-only>
        <ion-icon name="ios-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-center>
      Account
    </ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only>
        <ion-icon src="../../assets/img/home.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form>

    <ion-item>
      <ion-input placeholder="Mary Chavez"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="marychavez@gmail.com"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Enter Phone Number"></ion-input>
      <img slot="start" src="../../assets/img/United-Kingdom-Flag-PNG-Image.png">
    </ion-item>

    <ion-item>
      <ion-input placeholder="Notification"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Password"></ion-input>
      <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Cards"></ion-input>
      <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
    </ion-item>


  </form>
</ion-content>